.game-connection .local-sdp {
  margin-bottom: 10px;
}
.game-connection .local-sdp-value {
  padding: 10px;
  border: 1px solid #BCC8CE;
  background-color: #859AA4;
  margin: 10px 0;
  cursor: text;
  color: #BCC8CE;
  word-break: break-all;
  font-size: 0.7em;
  overflow: auto;
  max-height: 250px;
}
.game-connection .remote-sdp {
  margin-bottom: 10px;
}
.game-connection .remote-sdp-value {
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  border: 1px solid #BCC8CE;
  background-color: #859AA4;
  color: #BCC8CE;
  padding: 10px;
  overflow: auto;
  max-height: 250px;
}
.game-connection .handshake {
  display: none;
}
.game-connection .handshake-submit {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}
.game-connection .handshake-receive-offer-container,
.game-connection .handshake-create-offer-container {
  padding: 10px;
  display: none;
}
.game-connection .handshake-receive-offer-container.selected,
.game-connection .handshake-create-offer-container.selected {
  display: block;
}
.game-connection-status {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  color: black;
}
.game-connection-status:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  background: #f44336;
  margin: 5px 10px;
  border-radius: 5px;
}
.game-connection-status.connected:after {
  background: #8bc34a;
}
#game-settings {
  float: left;
  width: 300px;
  height: 100vh;
  background-color: #e9e9ea;
  position: relative;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow: auto;
}
#game-settings .game-settings-tabs {
  margin: 10px auto;
  border: 1px solid #BCC8CE;
  display: table;
}
#game-settings .game-settings-tab {
  padding: 5px;
  display: table;
  background-color: #859AA4;
  float: left;
  cursor: pointer;
}
#game-settings .game-settings-tab.selected {
  background-color: #BCC8CE;
}
#game-settings .game-settings-tabs-contents {
  margin: 10px;
}
#game-settings .game-settings-tabs-delimiter {
  width: 90%;
  border-bottom: 1px solid #859AA4;
  margin: 0 auto;
}
#game-settings .receive-offer-button {
  width: calc(50% - 5px);
  margin: 0 5px 10px 0;
  height: 3em;
  float: left;
}
#game-settings .create-offer-button {
  width: calc(50% - 5px);
  margin: 0 0 10px 5px;
  height: 3em;
}
.game-panel-container {
  background: #fff;
  width: calc(100% - 300px);
  float: left;
  position: relative;
  height: 100vh;
}
#game-panel-map,
#game-panel-background,
#game-panel {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body {
  margin: inherit;
}
.bm-hidden {
  display: none;
}
.fps {
  color: #e9e9ea;
  margin: 10px;
  display: table;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
